The following query is the one accepted by the SQL kata:

SELECT c.customer_id, c.email, COUNT(p.payment_id) AS payments_count, CAST(SUM(p.amount) AS float) AS total_amount
FROM customer c
INNER JOIN payment p ON c.customer_id = p.customer_id
GROUP BY c.customer_id, c.email
ORDER BY total_amount DESC
LIMIT 10;